.images{
    flex:right ;
    margin-top: -30%;
    margin-left :60%;
}

#Vision{

margin-left: 10px;
}
#showreel{
    /* padding: 30px; */
border-radius: 10px;
margin-bottom :3%;
padding-top: 15px;
margin-left: 4%;
}

#control{
    border-radius:15px;
    padding: 30px;
    width: 80px;
height: 30px;
margin-bottom: 3%;
background-color:rgb(224, 221, 208)

}
.ps{
    display: flex;
    flex-direction: row;
justify-content: space-between;

}

h1{
    display: flex;
}
.bar ul li{
    flex: left;
    text-align: center;
position: horizontal;

}
h2{
    padding: right 80px;
}
#both{
    display: flex;
    justify-self: row;
}
#start{
    border-radius:30px;
    width: 90px;
    background-color: blue;
    color: white;
    height: 25px;
margin-top: 30px;
text-align: center;
}
.two{
    display: flex;

}
#stats{
    border-radius:15px;
    padding: 30px;
    width: 80px;
height: 30px;
margin-bottom: 3%;
background-color:rgb(224, 221, 208)

}
#get{
   border: solid;
   border-color: cornflowerblue;
  width: 50px;
  border-radius: 10px;
}
/* #circle{
    margin-bottom:5%;
    margin-left: 8%;
    margin-top: -15%;
} */
